.Dashboard__buttons-container {
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Dashboard__left-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Dashboard__right-buttons-container {
    width: 324px;
    text-align: right;
}

.Dashboard__button {
    all: unset;
    cursor: pointer;
    text-decoration: underline;
    margin: 15px;
    padding: 5px;
    color: grey;
    /* got strange behavior when dragging an element
    upwards near the background. This is solution for now. */
    /* background: url("./images/black.jpg"); */
}

.Dashboard__button:hover {
    color: rgb(255, 238, 0);
}