.Footer {
    color: rgb(112, 112, 112);
    font-size: x-small;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.Footer__p {
    margin: 15px;
}

.Footer__a {
    text-decoration: none;
    color: rgb(152, 76, 224);
}