.Footer {
    color: rgb(147, 147, 147);
    font-size: x-small;
    position: absolute;
    bottom: 0;
    text-align: left;
    width: 100%;
}

.Footer__p {
    margin: 10px;
}

.Footer__a {
    text-decoration: none;
    color: rgb(158, 80, 232);
}

.Footer__a:hover {
    text-decoration: underline;
}
