.Modal {
    background-color: rgba(0, 0, 0, 0.6);
    color: rgb(156, 156, 156);
    text-align: left;
    width: 264px;
    margin: 15px;
    padding: 15px;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
}

.Modal__close-button {
    all: unset;
    color: grey;
    border: solid;
    border-width: 1px;
    border-color: grey;
    padding: 4px;
    font-size: small;
}

.Modal__close-button:hover {
    color: rgb(255, 238, 0);
    border-color: rgb(255, 238, 0);
}