.Modal {
    background-color: rgba(0, 0, 0, 0.6);
    color: rgb(156, 156, 156);
    text-align: left;
    width: 250px;
    margin: 15px;
    padding: 15px;
}

.Modal__close-button {
    all: unset;
    color: grey;
    border: solid;
    border-width: 1px;
    border-color: grey;
    padding: 4px;
    font-size: small;
}

.Modal__close-button:hover {
    color: red;
    border-color: red;
}